@import "$lib/styles/fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

img {
  -webkit-user-drag: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.w-main {
  width: 402px;
}

.w-content {
  width: 378px;
}

.layout-white {
  @apply bg-white/35 shadow-sm shadow-black/45 backdrop-blur-xl;
}
