@import "$lib/styles/fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

img {
  -webkit-user-drag: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

.golden {
  aspect-ratio: 1.61803398875;
}

.w-main {
  width: 382px;
}

.w-content {
  width: 378px;
}

.layout-main {
  backdrop-filter: blur(12px);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.45);
}

input.layout-main {
  background: transparent;
}

.dark {
  background-color: rgba(22, 22, 23, 0.3);
  backdrop-filter: blur(3px);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
}

.light {
  background-color: rgba(250, 250, 252, 0.3);
  backdrop-filter: blur(6px);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
  color: rgba(0, 0, 0, 0.8);
}

.style-scrollbar {
  overflow-y: auto;
}

.style-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.6);
}

.style-scrollbar::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
}

.style-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.6);
}

.my-toast-error {
  @apply m-0 flex bg-white/30 backdrop-blur-md border-white/45 text-[#f70000] px-15 py-6 rounded-2 shadow-black/30 shadow-lg;
}

.my-toast-success {
  @apply mx-auto flex bg-white/30 backdrop-blur-md border-white/45 text-[#00c441] px-15 py-6 rounded-2 shadow-black/30 shadow-lg;
}
