@import "$lib/styles/fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

img {
  -webkit-user-drag: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.w-main {
  width: 402px;
}

.w-content {
  width: 378px;
}

.layout-main {
  backdrop-filter: blur(12px);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.45);
}

input.layout-main {
  background: transparent;
}

.layout-white {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(21px);
  @apply shadow-sm shadow-black/45;
}

.layout-light {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(21px);
  @apply border-y border-b-white/15 border-t-white/25 shadow-md shadow-black/45;
}

.layout-dark {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(21px);
  @apply border-y border-b-white/10 border-t-white/15 shadow-md shadow-black/45;
}
